 body {
     display: flex;
     background: #edf1f394;
     padding: 10px;
     margin: 0;
     font-family: "Montserrat", sans-serif;
     flex-direction: column;
     align-items: center;

 }

 .wrapper {
     background-image: linear-gradient(rgb(174, 240, 252), rgb(231, 255, 143));
     flex-direction: row-reverse;
     margin: 0;
     border-radius: 20px;
     flex-direction: column;
     min-width: 320px;

 }

 .main-content {
     flex-wrap: wrap;
     padding: 30px 20px 40px 20px;
     box-sizing: border-box;
     align-content: flex-start;
 }


 h2,
 h3,
 h4 {
     text-shadow: 2px 1px 2px #053b42;
     justify-self: center;
 }


 ul,
 ol {
     padding-inline-start: 0;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 /* my-foto */

 img {
     display: block;
     width: 100%;
     height: auto;
 }




 .span {
     text-shadow: none;
     font-style: italic;
     font-size: 14px;
 }

 .my-photo {
     object-fit: cover;
     min-width: 250px;

 }

 .container-photo {
     display: flex;
     align-items: center;
     /* overflow: hidden; */
     min-width: 250px;
     border-radius: 30px;
     /* padding: 20px; */

 }


 .sidebar {
     width: 320px;
     height: auto;
     padding: 20px;
     justify-content: center;
     background: #e0ebfe;
     padding-top: 40px;
     padding-bottom: 40px;
     box-sizing: border-box;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
 }

 /* sidebar-contacts */

 .contacts-container {
     margin-bottom: 40px;
 }



 .sidebar-contacts {
     max-width: 288px;
     padding-left: 5px;
     padding-top: 10px;
     padding-right: 5px;
     box-sizing: border-box;

 }

 .contacts-title {
     font-weight: 700;
     font-size: 22px;
     color: #161d2a;
     line-height: normal;
     margin-top: 0px;
     margin-bottom: 8px;
 }


 .contacts-type {
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     color: #161d2a;
     margin-right: 8px;
 }

 .contacts-link {
     color: #2979ff;
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     text-decoration-line: underline;

 }


 .contacts-item {
     margin-top: 0px;
     margin-bottom: 4px;
 }


 /* skills-title */


 .skills-container {
     margin-bottom: 40px;
 }

 .skil-title {
     font-weight: 700;
     font-size: 22px;
     color: #161d2a;
     line-height: normal;
     margin-top: 0px;
     margin-bottom: 8px;
 }


 .skil-list {
     padding-left: 18px;
 }

 .skil-list-item {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #161d2a;

 }


 /* Soft-skills-title */


 .soft-skills-container {
     margin-bottom: 40px;
 }

 .soft-skills-title {
     font-weight: 700;
     font-size: 22px;
     color: #161d2a;
     line-height: normal;
     margin-top: 0px;
     margin-bottom: 8px;
 }

 .soft-skills-list {
     padding-left: 18px;
 }

 .soft-skills-list-item {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #161d2a;
 }

 /* My content */


 .my-profession {
     font-weight: 700;
     font-size: 14px;
     line-height: 17px;
     color: #000;
     margin-top: 0px;
     margin-bottom: 8px;
 }

 .my-name {

     font-family: "Diplomata", serif;
     font-style: italic;
     font-weight: 400;
     font-size: 20px;
     line-height: 45px;
     color: #2b232c;
     margin-top: 0px;
     margin-bottom: 12px;
     text-shadow: 2px 3px 4px #053b42;
 }

 .my-descr {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #595959;
 }

 .my-info {
     margin-bottom: 40px;
 }


 /* My projects */


 .my-projects-title {
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #000;
     margin-top: 0px;
     margin-bottom: 8px;
 }


 .my-projects-item {
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     color: #000;
 }

 .my-projects-list {
     padding-left: 16px;

 }

 .my-projects-item-link {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     text-decoration: underline;
     text-decoration-skip-ink: none;
     color: #005fff;
 }

 .my-projects-item-tech {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #595959;
 }

 .my-projects-container {

     margin-bottom: 40px;

 }


 /* Work Experience */


 .work-experience-title {
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #000;
     margin-top: 0px;
     margin-bottom: 8px;
 }

 .work-experience-company {
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     color: #000;
     margin-top: 0px;
     margin-bottom: 12px;
 }

 .company-name {
     color: #6d9bf5;
 }

 .work-experience-period {
     font-weight: 400;
     font-size: 12px;
     line-height: 15px;
     color: #a8a8a8;
     margin-bottom: 8px;
 }

 .work-experience-period-separator {
     color: #000;
 }

 .work-experience-duties-list {
     padding-left: 16px;
 }

 .work-experience-duties-item {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #595959;
 }

 .work-experience-container {
     margin-bottom: 12px;
 }


 /* Education */


 .education {
     font-weight: 700;
     font-size: 22px;
     color: #000;
     margin-top: 40px;
     margin-bottom: 8px;
 }

 .national-university-of-Management-toner {
     font-weight: 700;
     font-size: 16px;
     color: #6d9bf5;
     margin-top: 0px;
     margin-bottom: 8px;
 }

 .education-management {
     font-weight: 700;
     font-size: 14px;
     color: #000;
     margin-top: 0px;
     margin-bottom: 8px;
 }

 /* ==== min-width:768px =====*/



 @media screen and (min-width:768px) {

     body {
         min-width: 768px;
         background: #edf1f394;

         font-family: "Montserrat", sans-serif;
         padding: 5px;
     }

     h2,
     h3,
     h4 {

         text-shadow: 1px 1px 2px #097e8d;
         justify-self: flex-start;
     }

     .container-photo {
         display: block;
         min-width: 250px;
         /* align-items: flex-start; */
         margin-bottom: 100px;


     }

     .wrapper {

         /* background: #ffffff; */
         display: flex;
         flex-direction: row-reverse;
         min-width: 768px;
         margin: 0 auto;
         background-size: 768px;
     }

     .main-content {
         display: block;
         justify-content: flex-start;
         flex-direction: column;
         padding: 10px 20px;
         box-sizing: border-box;
         width: 480px;


     }

     .sidebar {
         background: rgb(224, 236, 255, 0.40);
         padding-top: 40px;
         padding-bottom: 40px;
         padding-right: 0px;
         box-sizing: border-box;
         width: 370px;

     }

     .sidebar-contacts {
         max-width: 288px;

     }

     .my-projects-item {
         font-weight: 400;
         font-size: 12px;



     }

     .my-projects-container {

         margin-bottom: 60px;
     }

     .my-info {

         margin-bottom: 60px;
     }

     .soft-skills-container {
         margin-bottom: 60px;
     }

     .skills-container {
         margin-bottom: 60px;
     }

     .contacts-container {
         margin-bottom: 60px;
     }

     .my-photo {

         width: 250px;

     }

     .container-photo {
         overflow: hidden;
         display: block;
         width: 300px;


     }


 }

 /* ===== min-width:1158px ===== */

 @media screen and (min-width:1158px) {

     body {
         max-width: 1280px;

         padding: 40px 40px 40px 40px;
         margin: 0 auto;
     }

     ul,
     ol {
         margin-top: 0px;
         margin-bottom: 0px;
     }


     .wrapper {

         max-width: 1200px;
         margin: 0 auto;
     }

     /* Main content */

     .main-content {

         padding: 88px 80px 40px 80px;
         width: 1200px;
     }

     /* Sidebar */

     .sidebar {
         padding-right: 20px;
         min-width: 370px;
     }

     .my-photo {
         object-fit: cover;
         min-width: 370px;
         min-height: 420px;


         /* width: 100%; */


     }

     .container-photo {
         /* overflow: hidden; */
         /* display: flex; */
         max-width: 370px;


     }

     /* Sidebar contacts*/

     .sidebar-contacts {

         max-width: 370px;

     }



     .contacts-container {
         margin-bottom: 40px;
     }

     /* skills-title */

     .skills-container {
         margin-bottom: 40px;
     }



     .skil-list {
         padding-left: 18px;
     }



     /* Soft-skills-title */

     .soft-skills-container {
         margin-bottom: 40px;
     }



     .soft-skills-list {
         padding-left: 18px;
     }

     .soft-skills-list-item {
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color: #161d2a;
     }

     /* My content */



     .my-name {
         font-weight: 500;
         font-size: 40px;
         line-height: 55px;
         color: #0000009c;
         margin-top: 0px;
         margin-bottom: 12px;
     }



     .my-info {
         margin-bottom: 40px;
     }

     /* My projects */

     .my-projects-container {
         margin-bottom: 40px;
     }

     /* Work Experience */

     .work-experience-title {

         margin-bottom: 20px;
     }

     .work-experience-container {
         margin-bottom: 12px;
     }

 }